<div style='margin-bottom:20px;'>
	<p style='margin:10px 0;'>
		<a href='/'>首页</a>/<a href='#'>收货地址薄</a>
	</p>
	<img src=<%= image_path('spree/frontend/line_right.png') %>>
</div>
<div id='addrLeftPartDiv'>
	<ul>
		<li class='headLi'>会员中心</li>
		<li class='childLi firstChildLi'><a href='#'>会员中心</a></li>
		<li class='childLi lastChildLi'><a href='#'>积分商城</a></li>
		<li class='headLi'>交易管理</li>
		<li class='childLi firstChildLi'><a href='#'>我的订单</a></li>
		<li class='childLi'><a href='#'>我的收藏</a></li>
		<li class='childLi lastChildLi'><a href='#'>我的评价</a></li>
		<li class='headLi'>账户管理</li>
		<li class='childLi firstChildLi'><a href='#'>修改个人资料</a></li>
		<li class='childLi'><a href='#'>修改密码</a></li>
		<li class='childLi lastChildLi'><a href='#'>收货地址簿</a></li>
		<li class='headLi'>服务中心</li>
		<li class='childLi firstChildLi lastChildLi'><a href='#'>退换货政策</a></li>
	</ul>
</div>
<div id='addrRightPartDiv'>
	<div id='addrRightTopDiv'>
		<img class='headImage' src=<%= image_path('spree/frontend/existedAddr.png') %>>
	</div>
	<div id='existedAddrDiv'>
		<% if current_spree_user %>
			<% spree_current_user.addresses.each do |address| %>
				<div class='addrDetailsDiv'>
					<p>
						<span><%=address.lastname+' '+address.firstname%></span>，
						<span><%=address.state%></span>
						<span><%=address.city%></span>，
						<span><%=address.address1%></span>，
						<span><%=address.zipcode%></span>，
						<span><%=address.phone%></span>
					</p>
						<a href=<%= "/addresses/"+address.id.to_s+"/edit" %> >
							<span class='addrOpSpan'>［修改］</span>
						</a>
						<a class="delete_addr" addr_id=<%= address.id %> >
							<span class='addrOpSpan'>［删除］</span>
						</a>
						<a>
							<span class='addrOpSpan'>设为默认地址</span>
						</a>
				</div>
			<%end%>
		<% else %>
			<h1 id='loginFirst'>请先登录！<h1>
		<%end%>
	</div>
	<%= form_tag("/addresses", method: "post") do %>
	<div id='addrRightBottomDiv'>
		<div id='addAddrHeadDiv'>
			<img class='headImage' src=<%= image_path('spree/frontend/addReceiveAddr.png') %>>
		</div>
		<div id='addAddrInputDiv'>
			<p>
				<label class='leftLabel' style='float:left'>收货人姓名：</label>
				<input type="text" id='consigneeInput1' name="address[lastname]" style='display:inline-block;float:left;' placeholder='姓'>
				<input type="text" id='consigneeInput2' name="address[firstname]" style='display:inline-block;float:left;margin-left:10px;' placeholder='名'>
			</p>
			<p>
				<label class='leftLabel'>地区：</label>
				<span class='cityAddress' style='margin-left:-5px;'>
					<select id="shipping_province" class='provinceSelector' style='width:130px;'>
						<option value='0' selected="selected">请选择</option>
					</select>
					<select id="shipping_town" class='townSelector' style='width:130px;'>
						<option value='0' selected="selected">请选择</option>
					</select>
					<select id="shipping_district" class='districtSelector' style='width:130px;'>
						<option value='0' selected="selected">请选择</option>
					</select>
				</span>
				<input name="address[country_id]" value='119' type='hidden'>
				<input name="address[city]" type='hidden' id='order_ship_address_attributes_city'>
				<input name="address[address2]" type='hidden' id='order_ship_address_attributes_address2'>
			</p>
			<p>
				<label class='leftLabel'></label>
				<input type="text" id="streetAddrInput" name="address[address1]" placeholder='请直接填写街道地址，省市区不需填写'>
			</p>
			<p>
				<label class='leftLabel'>邮编地址：</label>
				<input type="text" id='postcodeInput' name="address[zipcode]">
			</p>
			<p>
				<label class='leftLabel'>手机号码：</label>
				<input type="text" id='mobilePhoneInput' name="address[phone]">
				<label>手机和电话号码至少必填一项</label>
			</p>
			<p>
				<label class='leftLabel'>固定电话：</label>
				<input type="text" id='telephoneInput1' style='width:50px' placeholder='区号'>-
				<input type="text" id='telephoneInput2' style='width:110px' placeholder='电话号码'>-
				<input type="text" id='telephoneInput3' style='width:110px' placeholder='分机号'>
			</p>
			<p>
				<label class='leftLabel'></label>
				<input type="checkbox" id='setDefaultAddrChk'>
				<label for='setDefaultAddrChk'>设为默认地址</label>
			</p>
			<p>
				<input type="submit" value="保存" id='saveAddrBtn'>
			</p>
		</div>
	</div>
	<% end %>
</div>
	<script type='text/javascript'>
		jQuery(document).ready(function(){
		
			$.ajax ({
				url:	"/localities/1.json",
				type:	"GET",
				dataType:	"json"
			}).done (function (resp) {
				for (var i = 0; i < resp.children.length; i++) {
					if (resp.children[i].sort == -1)
					continue;					
					$("#shipping_province").append ("<option value="+resp.children[i].id +">" + resp.children[i].name + "</option>");
				}
			}).fail (function() {
				alert ("请求发送失败，请稍候再试");
			});
		});
	</script>