<style type='text/css'>
.lineImg{
	margin:10px 0 20px 0;
	display:block;
}
</style>
<h5 style='margin-left:20px;'>
	<a href='/'>首页</a>/<a href='#'>最新活动</a>
</h5>
<img class='lineImg' src=<%= image_path('spree/frontend/line_right.png') %>>
<div> 
<img src=<%= image_path('spree/frontend/latestActivity1.png') %> >
<p style='text-align:right'><a href='/products'>>>>开始购物 Let's Go !</a></p>
<img class='lineImg' src=<%= image_path('spree/frontend/line_left.png') %>>
<img src=<%= image_path('spree/frontend/latestActivity2.png') %> >
<p style='text-align:right'><a href='/products'>>>>开始购物 Let's Go !</a></p>
<img class='lineImg' src=<%= image_path('spree/frontend/line_right.png') %>>
<img src=<%= image_path('spree/frontend/latestActivity3.jpg') %> >
<p style='text-align:right'><a href='/products'>>>>开始购物 Let's Go !</a></p>
<img class='lineImg' src=<%= image_path('spree/frontend/line_left.png') %>>
</div>