<div style='margin-bottom:20px;'>
	<p style='margin:10px 0;'>
		<a href='/'>首页</a>/<a href='#'>订单详情</a>
	</p>
	<img src=<%= image_path('spree/frontend/line_right.png') %>>
</div>
<div style="font-size:13px;width:960px;margin:0 auto;font-family: tahoma,arial,sans-serif;">
<div id='addrLeftPartDiv'>
	<ul>
		<li class='headLi'>会员中心</li>
		<li class='childLi firstChildLi'>
			<a href='#'>会员中心</a>
		</li>
		<li class='childLi lastChildLi'>
			<a href='#'>积分商城</a>
		</li>
		<li class='headLi'>交易管理</li>
		<li class='childLi firstChildLi'>
			<a href='/orderHistory'>我的订单</a>
		</li>
		<li class='childLi'>
			<a href='#'>我的收藏</a>
		</li>
		<li class='childLi lastChildLi'>
			<a href='#'>我的评价</a>
		</li>
		<li class='headLi'>账户管理</li>
		<li class='childLi firstChildLi'>
			<a href='/personal_information'>修改个人资料</a>
		</li>
		<li class='childLi'>
			<% if current_spree_user %>
				<a href=<%='users/'+current_spree_user.id.to_s+'/edit'%> >修改密码</a>
			<% else %>
				<a href='#'>修改密码</a>
			<% end %>
		</li>
		<li class='childLi lastChildLi'>
			<a href='/addressedit'>收货地址簿</a>
		</li>
		<li class='headLi'>服务中心</li>
		<li class='childLi firstChildLi lastChildLi'>
			<a href='#'>退换货政策</a>
		</li>
	</ul>
</div>
<div class="right">
<div style="margin-bottom: 15px;border:1px solid #D3D3D3;">
<p style="padding-left:20px;font-size:16px;">
	<label>订单号：</label>
	<label style="padding-right:40px;"><%= params['number'] %></label>
	<label>订单状态：</label>
	<% orderSearch = nil%>
	<% if current_spree_user %>
		<% current_spree_user.orders.each do |order| %>
			<% if order.number == params['number'] %>
				<% orderSearch=order %>
				<label id='orderStatusLabel' status=<%=order.state.downcase%> ><%= Spree.t("order_state.#{order.state.downcase}") %></label></p>
			<% end %>
		<% end %>
	<% end %>
<table id='orderStatusTab'>
<tr>
<td>
<p class="node firstStep">●</p>
</td>
<td>
<div class="shortline secondStepDiv thirdStepDiv fourthStepDiv"></div>
</td>
<td>
<p class="node secondStep thirdStep fourthStep">●</p>
</td>
<td>
<div class="shortline thirdStepDiv fourthStepDiv"></div>
</td>
<td>
<p class="node thirdStep fourthStep">●</p>
</td>
<td>
<div class="shortline fourthStepDiv"></div>
</td>
<td>
<p class="node fourthStep">●</p>
</td>
</tr>

<tr>
<td style="width: 80px;text-align: center;">提交订单</br><span style="color: #A9A9A9;font-size: 10px;">2013-8-15 14:15:45</td>
<td></td>
<td style="width: 80px;text-align: center;">等待发货</br><span style="color: #A9A9A9;font-size: 10px;">2013-8-15 14:18:45</span></td>
<td></td>
<td style="width: 80px;text-align: center;">已发货</br><span style="color: #A9A9A9;font-size: 10px;">2013-8-16 14:15:45</span></td>
<td></td>
<td style="width: 80px;text-align: center;">完成</br><span style="color: #A9A9A9;font-size: 10px;">2013-8-16 17:15:45</span></td>

</tr></table>
</div>
<div style="margin-bottom: 15px;border:1px solid #D3D3D3;">
<table style="padding:10px 20px">
<tr>
<td style="font-size:16px;">订单跟踪</td>
</tr>
<tr>
<td>物流商：默认快递</td>
<td style="padding:10px">运单号:12312312</td>
<td><a id='showDelivery' style="color:#0FA6BB" >查看物流</a></td>
<td><a href="http://m.kuaidi100.com" target="_blank">快递查询</a></td>
</tr>
</table>

</div>
<div style="margin-bottom: 15px;border:1px solid #D3D3D3;">
<p style="padding:0px 20px;margin-top:20px;font-size:16px;">
收货人信息</p>
<table style="padding:0px 40px;margin-top:0">
<tr>
<td>收货人：<label>用户名</label></td>
</tr>
<tr>
<td>地址：<label>上海市XXXXXXXXXXXXX</label></td>
</tr>
<tr>
<td>邮编：<label>209888</label></td>
</tr>
<tr>
<td>电话：<label>56567567</label></td>
</tr>
<tr>
<td>邮箱：<label>XXX@XXX</label></td>
</tr>
</table>
</div>
<div style="margin-bottom: 15px;border:1px solid #D3D3D3;">
<table style="padding:10px 20px">
<tr>
<td style="font-size:16px;">送货方式</td>
</tr>
<tr>
<td>送货方式：<label>默认快递</label></td>
</tr>
</table>
</div>
<div style="margin-bottom: 15px;border:1px solid #D3D3D3;">
<table style="padding:10px 20px">
<tr>
<td style="font-size:16px;">支付方式</td>
</tr>
<tr>
<td>支付方式：<label>支付宝</label></td>
</tr>
</table>
</div>
<div style="margin-bottom: 15px;border:1px solid #D3D3D3;" class=
"clearfix">
<div style="margin-bottom: 15px">
<p style="padding:0px 20px;margin-top:20px;font-size:16px;">
商品清单</p>
<table class="listtb">
<tr>
<td class="listtd1">商品名称</td>
<td class="listtd1">商品购买价格</td>
<td class="listtd1">商品数量</td>
</tr>
<tr>
<td class="listtd2">简约基础女式短T恤</td>
<td class="listtd2">￥199.0</td>
<td class="listtd2">2</td>
</tr>
<tr>
<td class="listtd2">简约基础男式短T恤</td>
<td class="listtd2">￥299.0</td>
<td class="listtd2">1</td>
</tr>
</table>
</div>
<div style=
"border:solid 1px #F6993A;background:#FFFCDB;width:300px;margin-left:18px;padding:5px 20px;">
<img style="vertical-align:middle;" src="light.png" alt=""><label style="vertical-align:middle;">温馨提示：商品优惠价格已计入商品购买价格中</label></div>
<div>
<table class="settleAccountsList fr mr30 mt50 mb20">
<tr style="text-align:right">
<td><label>商品总金额 :</label></td>
<td width="10px"><label>&nbsp;￥</label></td>
<td width="50px"><label>697.00</label></td>
</tr>
<tr style="text-align:right">
<td><label>优惠 :</label></td>
<td width="10px"><label>&nbsp;￥</label></td>
<td width="50px"><label>0.00</label></td>
</tr>
<tr style="text-align:right">
<td><label>运费 :</label></td>
<td width="10px"><label>&nbsp;￥</label></td>
<td width="50px"><label>0.00</label></td>
</tr>
<tr>
<td style="border-bottom:1px solid #d1d1d1;"colspan="3" align="right"><label>&nbsp;&nbsp;&nbsp;&nbsp;订单留言
:</label><label>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</label></td>
</tr>
<tr style="font-size:16px;text-align:right;"><td colspan="3" >您需要为订单支付：￥&nbsp;<label>697.00<label></td></tr>
</table>

</div>
</div>
</div>
</div>
