<div style='margin-bottom:20px;'>
	<p style='margin:10px 0;'>
		<a href='/'>首页</a>/<a href='#'>我的订单</a>
	</p>
	<img src=<%= image_path('spree/frontend/line_right.png') %>>
</div>
<div style="font-size:13px;width:960px;margin:0 auto;font-family: tahoma,arial,sans-serif;">
<div class="left">
<h4>会员中心</h4>
<p><a href="">会员中心</a></p>
<p><a href="">积分商城</a></p>
<h4>交易管理</h4>
<p><a href="">我的订单</a></p>
<p><a href="">我的收藏</a></p>
<p><a href="">我的评价</a></p>
<h4>账户管理</h4>
<p><a href="">修改个人资料</a></p>
<p><a href="">修改密码</a></p>
<p><a href="">收货地址簿</a></p>
<h4>服务中心</h4>
<p><a href="">退换货政策</a></p>
</div>
<div class="right" style="border:1px solid #D3D3D3;">
<span><select id='timeSelector' style="margin-top: 10px;margin-left: 580px;border-color: #D3D3D3;">
<option value="1">最近一个月的订单</option>
<option value="3">最近三个月的订单</option>
<option value="0">全部订单</option>
</select></span>

<% if current_spree_user %>
	<% current_spree_user.orders.each do |order| %>
		<div class="myorder" interval_time=<%= (Time.now - order.created_at).to_i %>>
		<table>
		<tr style="height:30px;text-align: center;">
		<td style="text-align: left;padding-left: 20px;">订单编号</td>
		<td>订单商品</td>
		<td>会员名</td>
		<td>订单金额</td>
		<td>下单时间</td>
		<td>订单状态</td>
		<td>操作</td>
		</tr>
		<tr style="height:150px;text-align: center;">
		<td style="text-align: left;padding-left: 20px;"><%=order.number%></td>
		<td>
			<%order.line_items.take(3).each do |line_item|%>
				<%=line_item.name%><br>
			<%end%>
		</td>
		<td><%=order.email%></td>
		<td>¥<%=order.total%></td>
		<td><%=order.created_at%></td>
		<td><%=order.payment_state%></td>
		<td><a href="">查看</a><br>
		<a href="">付款</a><br>
		<a href="" class="disable">确认收货</a><br>
		<a href="" class="disable">退货</a></td>
		<td></td>
		</tr>
		</table>
		</div>
	<% end %>
<% end %>
</div>
</div>