<div style='margin-bottom:20px;'>
<p style='margin:10px 0;'>
<a href='/'>首页</a>/<a href='#'>我的收藏</a>
</p>
<img src=<%= image_path('spree/frontend/line_right.png') %>>
</div>
<div style="font-size:13px;width:960px;margin:0 auto;font-family: tahoma,arial,sans-serif;">
	<div id='addrLeftPartDiv'>
		<ul>
		<li class='headLi'>会员中心</li>
		<li class='childLi firstChildLi'><a href='#'>会员中心</a></li>
		<li class='childLi lastChildLi'><a href='#'>积分商城</a></li>
		<li class='headLi'>交易管理</li>
		<li class='childLi firstChildLi'><a href='#'>我的订单</a></li>
		<li class='childLi'><a href='#'>我的收藏</a></li>
		<li class='childLi lastChildLi'><a href='#'>我的评价</a></li>
		<li class='headLi'>账户管理</li>
		<li class='childLi firstChildLi'><a href='#'>修改个人资料</a></li>
		<li class='childLi'><a href='#'>修改密码</a></li>
		<li class='childLi lastChildLi'><a href='#'>收货地址簿</a></li>
		<li class='headLi'>服务中心</li>
		<li class='childLi firstChildLi lastChildLi'><a href='#'>退换货政策</a></li>
		</ul>
	</div>
	<div class="right" style="margin-bottom: 15px;border:1px solid #D3D3D3;">
		<div style="width:98%;margin: 0 auto;">
			<div style="background-color: #EFEFEF;margin: 20px 0px;">
			<input style="margin-left:20px;vertical-align:middle;background:#EFEFEF;" type="checkbox" class='selectAllCheckbox'>
			<label style="margin-left:5px;vertical-align:middle;">全选</label>
			<input type="button" onclick="window.location.href=''" value="批量删除" style="margin:8px 10px;padding:1px 10px;border:0px #000000 none;cursor:pointer;background:#0FA6BB;color:white;font-size: 12px;">
		</div>
		<div>
		<table style="width: 100%;">
			<tr style="background:#EFEFEF;height:30px;">
			<td colspan="3" style="padding-left:20px;">商品信息</td>
			<td align="center">价格</td>
			<td align="center">操作</td>
			</tr>
			<% productsNum=Array(session[:favorite]).length %>
			<% if productsNum > 5 %>
				<% 	pageLength = productsNum/5 %>
				
				<% if productsNum%5 !=0 %>
					<% pageLength += 1 %>
				<% end %>
				
				<% if params['page'].to_i > pageLength || params['page'].to_i < 0 %>
					<% params['page']=1 %>
				<% end %>
				
				<% productsArr = [] %>
				<% pageArr = [] %>
				<% j=0 %>
				<% Array(@favorites).uniq.each_with_index do |favorite , i| %>
						<% productsArr[i%5]= favorite %>
						
						<% if (i+1)%5==0 || (i+1)==productsNum%>
							<% pageArr[j] = productsArr %>
							<% productsArr = [] %>
							<% j+=1 %>
						<% end %>
						
				<% end %>
				<% productsShowArr = pageArr[params['page'].to_i-1] %>
				
			<% else %>
				<% productsShowArr = Array(@favorites).uniq %>
			<% end %>
			
			<% productsShowArr.each do |favorite| %>
				<% url = product_path(favorite, :taxon_id => @taxon.try(:id)) %>
				<tr class="favorite">
				<td style="width:30px;padding-left:10px;"><input type="checkbox" productid=<%=favorite.id%> class='itemCheckbox'></td>
				<td style="width:90px;"><%= link_to small_image(favorite, :itemprop => "image"), url, :itemprop => 'url' %></td>
				<td style="text-align:left;"><%= link_to truncate(favorite.name, :length => 50), url, :class => 'info', :itemprop => "name", :title => favorite.name %>
				</td>
				<td><%= display_price(favorite) %></td>
				<td>
					<p><a href=<%= url %> >查看详情</a></p>
					<p><label class='deleteFavorite' productid=<%=favorite.id%> >删除</label></p>
				</td>
				</tr>
			<% end %>
		</table>
		<div style="background-color: #EFEFEF;margin: 20px 0px;">
			<input style="margin-left:20px;vertical-align:middle;background:#EFEFEF;" type="checkbox" class='selectAllCheckbox'>
			<label style="margin-left:5px;vertical-align:middle;">全选</label>
			<input type="button" id='bacthDelete' value="批量删除" style="margin:8px 10px;padding:1px 10px;border:0px #000000 none;cursor:pointer;background:#0FA6BB;color:white;font-size: 12px;">
		</div>
		
		<% if productsNum > 5 %>
			<% 	pageLength = productsNum/5 %>
			<% if productsNum%5 !=0 %>
				<% pageLength += 1 %>
			<% end %>
			
			<% currentPage = 1 %>
			<% if params.has_key?('page') %>
				<% currentPage = params['page'].to_i %>
			<% end %>
			
			<div id="pageListDiv">
				<% prePage = 1 %>
				<% if currentPage > 1 %>
					<% prePage = currentPage-1 %>
				<% end %>
				<a class="prePage" href=<%= "/favorites?page="+prePage.to_s %> >
					<img class='pageTurnImg' src=<%= image_path('spree/frontend/pageLeft.png') %>>
				</a> 
				
				<% i = 1 %>
				<% while i <= pageLength do %>
					<% if i==currentPage %>
						<a class='currentPage' href=<%= "/favorites?page="+i.to_s %> ><%= i %></a> 
					<% else %>
						<a class='pageItem' href=<%= "/favorites?page="+i.to_s %> ><%= i %></a> 
					<% end %>
					<% i += 1 %>
				<% end %>
				
				<% if currentPage < pageLength %>
					<% nextPage=currentPage+1 %>
				<% else %>
					<% nextPage=currentPage %>
				<% end %>
				
				<a class="nextPage" href=<%= "/favorites?page="+nextPage.to_s %> >
					<img class='pageTurnImg' src=<%= image_path('spree/frontend/pageRight.png') %>>
				</a>
			</div>
		<% end %>
		</div>
	</div>
	</div>
</div>

