	<div id='topDiv'>
		<div id='locationDiv' class='topDivCLass'>
			<p>您的位置:<label>中国/RMB</label></p>
			<p><label>English</label>/<label>Chinese</label></p>
		</div>
		<div id='logoDiv' class='topDivCLass'><a href='/'><img src=<%= image_path('spree/frontend/bigRoosterLogo.png') %> alt='logo'/></a></div>
		<div id='loginOrRegDiv' class='topDivCLass'>
			<p><a href='/checkout/registration'>登录</a>/<a href='/signup'>注册</a></p>
			<p><a href='#'>购物车</a>[<label>0</label>]</p>
			<p id='searchInputP'><input id='searchInputText' type='text' placeholder='搜索'><img id='searchBtnImg' src=<%= image_path('spree/frontend/searchImg.png') %> alt='search'></p>
		</div>
		<div style='clear:both'></div>
		<div id='navigateDiv'>
			<ul id='navigateList'>
				<li>
					<a href='/'>首页</a>
				</li>
				<li>
					<a href='/products' target='_blank'>所有商品</a>
					<ul class="secondMenu">
							<li><a href="#">上装</a></li>
							<li><a href="#">下装</a></li>
							<li><a href="#">外套</a></li>
							<li><a href="#">配饰</a></li>
					</ul>
				</li>
				<li>
					<a href='#'>男装</a>
					<ul class="secondMenu">
							<li><a href="#">衬衫</a></li>
							<li><a href="#">POLO衫</a></li>
							<li><a href="#">T恤/卫衣</a></li>
							<li><a href="#">针织衫</a></li>
							<li><a href="#">外套</a></li>
							<li><a href="#">裤装</a></li>
							<li><a href="#">配饰</a></li>
					</ul>
				</li>
				<li>
					<a href='#'>女装</a>
					<ul class="secondMenu">
							<li><a href="#">衬衫</a></li>
							<li><a href="#">POLO衫</a></li>
							<li><a href="#">T恤/卫衣</a></li>
							<li><a href="#">针织衫</a></li>
							<li><a href="#">连衣裙</a></li>
							<li><a href="#">外套</a></li>
							<li><a href="#">裤装</a></li>
							<li><a href="#">配饰</a></li>
					</ul>
				</li>
				<li><a href='#'>最新活动</a></li>
				<li>
					<a href='/brandIntroduce' target='_blank'>品牌介绍</a>
					<ul class="secondMenu">
							<li><a href="#">BIG ROOSTER</a></li>
							<li><a href="#">中国报喜鸟集团</a></li>
					</ul>
				</li>
				<li><a href='#'>会员中心<span class='clubSpan'>CLUB</span></a></li>
			</ul>
		</div>
	</div>
	<div style='clear:both;'></div>
	<div id='rightFixedDiv'>
		<div><a href='#'><img src=<%= image_path('spree/frontend/cartIcon.png') %> alt='cartIcon'></a></div>
		<div><a href='#'><img src=<%= image_path('spree/frontend/hotline.png') %> alt='hotline'></a></div>
		<div><a href='#'><img src=<%= image_path('spree/frontend/memberCenter.png') %> alt='memberCenter'></a></div>
		<div><a href='#'><img src=<%= image_path('spree/frontend/goTop.png') %> alt='goTop'></a></div>
	</div>
