	<div id='productDisplayDiv'>
		<div id='productDiv1'>			
			<div id='leftProductDiv1' class="m-carousel m-fluid m-carousel-photos">
				<div class="m-carousel-inner" style="min-height:8em;">
					<div class="m-item m_0"  ontouchstart="zy_touch('btn-act')">
					  <img src=<%= image_path('spree/frontend/cycleDisplay1.jpg') %> id="p0">
					</div>
					<div class="m-item m_1" ontouchstart="zy_touch('btn-act')">
					  <img src=<%= image_path('spree/frontend/cycleDisplay2.jpg') %> id="p1">
					</div>
					<div class="m-item m_2"  ontouchstart="zy_touch('btn-act')">
					  <img src=<%= image_path('spree/frontend/cycleDisplay3.jpg') %> id="p2">
					</div>
					<div class="m-item m_3"  ontouchstart="zy_touch('btn-act')">
					  <img src=<%= image_path('spree/frontend/cycleDisplay4.jpg') %> id="p3">
					</div>
			    </div>
				<div id='bottomIndexDiv' class="m-carousel-controls m-carousel-bulleted">
					<a href="#" data-slide="1">1</a>
					<a href="#" data-slide="2">2</a>
					<a href="#" data-slide="3">3</a>
					<a href="#" data-slide="4">4</a>
				</div>
			</div> 
			<div id='rightProductDiv1'>
				<div id='rightTopProductDiv1'><a href='#'><img alt='newproduct1' src=<%= image_path('spree/frontend/rightTopProductDiv1.jpg') %>></a></div>
				<div id='rightBottomProductDiv1'><a href='#'><img alt='newproduct2' src=<%= image_path('spree/frontend/rightBottomProductDiv1.jpg') %>></a></div>
			</div>
		</div>
		<div id='productDiv2'><img id='newActivity' alt='newstext' src=<%= image_path('spree/frontend/newActivity.png') %>></div>
		<img src=<%= image_path('spree/frontend/line_right.png') %>>
		<div id='productDiv3'>
			<div class='productClassify'>
				<div id='productDiv3_1'><a href='/t/shang-zhuang/poloshan'><img alt='Productshow1' src=<%= image_path('spree/frontend/poloLogo.png') %>></a></div>
				<div id='productDiv3_2'><a href='/t/shang-zhuang/new-node'><img alt='Productshow1' src=<%= image_path('spree/frontend/t_shitLogo.png') %>></a></div>
				<div id='productDiv3_3'><a href='/t/shang-zhuang/chen-shan'><img alt='Productshow1' src=<%= image_path('spree/frontend/shitsLogo.png') %>></a></div>
				<div id='productDiv3_4'><a href='#'><img alt='Productshow1' src=<%= image_path('spree/frontend/knitsLogo.png') %>></a></div>
				<div style='clear:both;'></div>
			</div>
			<div class='productClassify'>
				<div id='productDiv3_5'><a href='/t/wai-tao'><img alt='Productshow1' src=<%= image_path('spree/frontend/coatLogo.png') %>></a></div>
				<div id='productDiv3_6'><a href='/t/nu-zhuang-shang-zhuang/lian-yi-qun'><img alt='Productshow1' src=<%= image_path('spree/frontend/dressLogo.png') %>></a></div>
				<div id='productDiv3_7'><a href='/t/xia-zhuang'><img alt='Productshow1' src=<%= image_path('spree/frontend/pantsLogo.png') %>></a></div>
				<div id='productDiv3_8'><a href='/t/pei-jian'><img alt='Productshow1' src=<%= image_path('spree/frontend/aeeLogo.png') %>></a></div>
				<div style='clear:both;'></div>
			</div>
		</div>
		<img src=<%= image_path('spree/frontend/line_left.png') %>>
		<div id='productDiv4'>
			<p style='text-align:center;font-size:24px;margin:20px 0;font-weight:bold;'><span class='leftLinear'></span>NEW/新品发布<span class='rightLinear'></span></p>
			<div id='imageProductDiv4'>
				<div id='leftProductDiv4'><a href='#'><img alt='NEWProduct1' src=<%= image_path('spree/frontend/leftProductDiv4.png') %>></a></div>
				<div id='rightProductDiv4'>
					<div id='rightProductDiv4_1'>
						<a href='#'><img class='gongge9Img' src=<%= image_path('spree/frontend/gongge9_1.png') %>></a>
						<a href='#'><img class='gongge9Img' src=<%= image_path('spree/frontend/gongge9_2.png') %>></a>
						<a href='#'><img class='gongge9Img' src=<%= image_path('spree/frontend/gongge9_3.png') %>></a>
					</div>
					<div id='rightProductDiv4_2'>
						<a href='#'><img class='gongge9Img' src=<%= image_path('spree/frontend/gongge9_4.png') %>></a>
						<a href='#'><img class='gongge9Img' src=<%= image_path('spree/frontend/gongge9_5.png') %>></a>
						<a href='#'><img class='gongge9Img' src=<%= image_path('spree/frontend/gongge9_6.png') %>></a>
					</div>
					<div id='rightProductDiv4_3'>
						<a href='#'><img class='gongge9Img' src=<%= image_path('spree/frontend/gongge9_7.png') %>></a>
						<a href='#'><img class='gongge9Img' src=<%= image_path('spree/frontend/gongge9_8.png') %>></a>
						<a href='#'><img class='gongge9Img' src=<%= image_path('spree/frontend/gongge9_9.png') %>></a>
					</div>
				</div>
			</div>
		</div>
		<img src=<%= image_path('spree/frontend/line_right.png') %>>
		<div style='clear:both;'></div>
		<div id='productDiv5'>
			<p class='titleParagraph'><span class='leftLinear'></span>MEN/男装<span class='rightLinear'></span></p>
			<div id='topProductDiv5' class='productList'>
				<div id='topProductDiv5_1'>
					<p><a href='/products/YBTA435061ES' target='_blank'><img alt='MANProduct1' src=<%= image_path('spree/frontend/topProductDiv5_1.png') %>></a></p>
					<p>BIG ROOSTER大公鸡 2014夏季新款男士V领T恤</p>
					<p><span class='salesPrice'>￥89.00</span><span class='costPriceSpan1'>￥298.00</span></p>
				</div>
				<div id='topProductDiv5_2'>
					<p><a href='/products/YBTA431021ST' target='_blank'><img alt='MANProduct2' src=<%= image_path('spree/frontend/topProductDiv5_2.png') %>></a></p>
					<p>BIG ROOSTER大公鸡 2014春装新款短袖T恤 粉色拼接条纹 时尚简约风格短袖</p>
					<p><span class='salesPrice'>￥119.00</span><span class='costPriceSpan1'>￥398.00</span></p>
				</div>
				<div id='topProductDiv5_3'>
					<p><a href='/products/YBCA434161ES' target='_blank'><img alt='MANProduct3' src=<%= image_path('spree/frontend/topProductDiv5_3.png') %>></a></p>
					<p>BIG ROOSTER大公鸡 2014男装夏季新款牛仔时尚做旧短袖衬衫 个性条纹设计</p> 
					<p><span class='salesPrice'>￥139.00</span><span class='costPriceSpan1'>￥459.00</span></p>
				</div>
				<div id='topProductDiv5_4'>
					<p><a href='/products/YBCA434061ES' target='_blank'><img alt='MANProduct4' src=<%= image_path('spree/frontend/topProductDiv5_4.png') %>></a></p>
					<p>BIG ROOSTER大公鸡 2014潮男春装新款上衣修身版纯棉方格子 中袖衬衫</p>
					<p><span class='salesPrice'>￥149.00</span><span class='costPriceSpan1'>￥498.00</span></p>
				</div>
				<div style='clear:both;'></div>
			</div>
			<div id='bottomProductDiv5' class='productList'>
				<div id='bottomProductDiv5_1'>
					<p><a href='/products/YTDA431821SS' target='_blank'><img alt='MANProduct5' src=<%= image_path('spree/frontend/bottomProductDiv5_1.png') %>></a></p>
					<p>BIG ROOSTER大公鸡 2014春款男装休闲裤长裤夏季薄款男士英伦修身直筒裤</p>
					<p><span class='salesPrice'>￥229.00</span><span class='costPriceSpan1'>￥758.00</span></p>
				</div>
				<div id='bottomProductDiv5_2'>
					<p><a href='/products/YTDA433031SS' target='_blank'><img alt='MANProduct6' src=<%= image_path('spree/frontend/bottomProductDiv5_2.png') %>></a></p>
					<p>BIG ROOSTER大公鸡 2014秋款男装休闲裤男 男士修身直筒裤英伦男裤子</p>
					<p><span class='salesPrice'>￥229.00</span><span class='costPriceSpan1'>￥758.00</span></p>
				</div>
				<div id='bottomProductDiv5_3'>
					<p><a href='/products/YUDA431021SS' target='_blank'><img alt='MANProduct7' src=<%= image_path('spree/frontend/bottomProductDiv5_3.png') %>></a></p>
					<p>BIG ROOSTER大公鸡 2014秋装新款牛仔裤男士纯棉直筒裤子 男装长裤</p>
					<p><span class='salesPrice'>￥159.00</span><span class='costPriceSpan1'>￥558.00</span></p>
				</div>
				<div id='bottomProductDiv5_4'>
					<p><a href='/products/YTDA431251SS' target='_blank'><img alt='MANProduct8' src=<%= image_path('spree/frontend/bottomProductDiv5_4.png') %>></a></p>
					<p>BIG ROOSTER大公鸡 2014年休闲时尚修身短裤男士中裤 经典白色商务简约短裤</p>
					<p><span class='salesPrice'>￥229.00</span><span class='costPriceSpan1'>￥758.00</span></p>
				</div>
				<div style='clear:both;'></div>
			</div>
		</div>
		<div style='clear:both;'></div>
		<div id='productDiv6'>
			<p class='titleParagraph'><span class='leftLinear'></span>WOMEN/女装<span class='rightLinear'></span></p>
			<div id='imageProductDiv6' class='productList'>
				<div id='imageProductDiv6_1'>
					<p><a href='/products/YESA430402GT' target='_blank'><img alt='WOMENProduct1' src=<%= image_path('spree/frontend/imageProductDiv6_1.png') %>></a></p>
					<p>BIG ROOSTER大公鸡2014年专柜同款夏季新款短袖 女装POLO衫 英伦风</p>
					<p><span class='salesPrice'>￥149.00</span><span class='costPriceSpan1'>￥498.00</span></p>
				</div>
				<div id='imageProductDiv6_2'>
					<p><a href='/products/YBTA431362ST' target='_blank'><img alt='WOMENProduct2' src=<%= image_path('spree/frontend/imageProductDiv6_2.png') %>></a></p>
					<p>BIG ROOSTER大公鸡2014年夏装新款女装短袖T恤 POLO衫 条形V领</p>
					<p><span class='salesPrice'>￥119.00</span><span class='costPriceSpan1'>￥398.00</span></p>
				</div>
				<div id='imageProductDiv6_3'>
					<p><a href='/products/YESA430562SZ' target='_blank'><img alt='WOMENProduct3' src=<%= image_path('spree/frontend/imageProductDiv6_3.png') %>></a></p>
					<p>BIG ROOSTER大公鸡2014夏季新款短袖T恤 绣花POLO衫 情侣款</p>
					<p><span class='salesPrice'>￥179.00</span><span class='costPriceSpan1'>￥598.00</span></p>
				</div>
				<div id='imageProductDiv6_4'>
					<p><a href='/products/YBTA430962SP' target='_blank'><img alt='WOMENProduct4' src=<%= image_path('spree/frontend/imageProductDiv6_4.png') %>></a></p>
					<p>BIG ROOSTER大公鸡2014年夏季新款T恤宽松蝙蝠韩版条纹体T恤大码女式蝙蝠衫</p>
					<p><span class='salesPrice'>￥89.00</span><span class='costPriceSpan1'>￥298.00</span></p>
				</div>
				<div style='clear:both;'></div>
			</div>
			<div id='imageProductBottomDiv6' class='productList'>
				<div id='imageProductDiv6_5'>
					<p><a href='/products/YHDA439902GS' target='_blank'><img alt='WOMENProduct5' src=<%= image_path('spree/frontend/women1.png') %>></a></p>
					<p>BIG ROOSTER大公鸡2014年夏装新款韩版显瘦休闲宽松潮时尚哈伦短裤女</p>
					<p><span class='salesPrice'>￥159.00</span><span class='costPriceSpan1'>￥558.00</span></p>
				</div>
				<div id='imageProductDiv6_6'>
					<p><a href='/products/YHDA430602SP' target='_blank'><img alt='WOMENProduct6' src=<%= image_path('spree/frontend/women2.png') %>></a></p>
					<p>BIG ROOSTER大公鸡2014年夏季新款糖果色短裤 女式短裤热裤 韩版休闲三分裤</p>
					<p><span class='salesPrice'>￥129.00</span><span class='costPriceSpan1'>￥458.00</span></p>
				</div>
				<div id='imageProductDiv6_7'>
					<p><a href='/products/YTDA430362GS' target='_blank'><img alt='WOMENProduct7' src=<%= image_path('spree/frontend/women3.png') %>></a></p>
					<p>BIG ROOSTER大公鸡休闲裤女夏女士弹力显瘦糖果色铅笔裤小脚裤外穿打底裤</p>
					<p><span class='salesPrice'>￥159.00</span><span class='costPriceSpan1'>￥558.00</span></p>
				</div>
				<div id='imageProductDiv6_8'>
					<p><a href='/products/YUDA430602GS' target='_blank'><img alt='WOMENProduct8' src=<%= image_path('spree/frontend/women4.png') %>></a></p>
					<p>BIG ROOSTER大公鸡2014年新款牛仔七分裤 弹力显瘦修身小脚裤 薄款韩版潮</p>
					<p><span class='salesPrice'>￥159.00</span><span class='costPriceSpan1'>￥558.00</span></p>
				</div>
				<div style='clear:both;'></div>
			</div>
		</div>
		<img src=<%= image_path('spree/frontend/line_right.png') %>>
		<div id='productDiv7'>
			<img alt='importantnotice' src=<%= image_path('spree/frontend/productDiv7.png') %>>
		</div>
		<img src=<%= image_path('spree/frontend/line_left.png') %>>
		<div id='productDiv8'>
			<p class='titleParagraph'><span class='leftLinear'></span>HOT/热销款<span class='rightLinear'></span></p>
			<div id='imageProductDiv8' class='productList'>
				<div id='imageProductDiv8_1'>
					<p><a href='/products/YBCA433961ES' target='_blank'><img alt='HOTProduct1' src=<%= image_path('spree/frontend/imageProductDiv8_1.png') %>></a></p>
					<p>BIG ROOSTER大公鸡2014年夏季纯棉修身短袖衬衫 英格兰方格设计 个性视觉感</p>
					<p><span class='salesPrice'>￥109.00</span><span class='costPriceSpan1'>￥398.00</span></p>
				</div>
				<div id='imageProductDiv8_2'>
					<p><a href='/products/YBTA421281SZ' target='_blank'><img style='border: 1px solid black;' alt='HOTProduct2' src=<%= image_path('spree/frontend/imageProductDiv8_2.jpg') %>></a></p>
					<p>BIG ROOSTER大公鸡夏装新款男装英伦T恤修身圆领纯棉T恤</p>
					<p><span class='salesPrice'>￥109.00</span><span class='costPriceSpan1'>￥398.00</span></p>
				</div>
				<div id='imageProductDiv8_3'>
					<p><a href='/products/YQWA430562SP' target='_blank'><img alt='HOTProduct3' src=<%= image_path('spree/frontend/imageProductDiv8_3.png') %>></a></p>
					<p>BIG ROOSTER大公鸡2014年新款女装连衣裙 无袖 公主裙</p>
					<p><span class='salesPrice'>￥269.00</span><span class='costPriceSpan1'>￥898.00</span></p>
				</div>
				<div id='imageProductDiv8_4'>
					<p><a href='/products/YQWA439802GS' target='_blank'><img alt='HOTProduct4' src=<%= image_path('spree/frontend/imageProductDiv8_4.png') %>></a></p>
					<p>BIG ROOSTER大公鸡2014年新款女装连衣裙大码女神无袖印花连衣裙时尚英伦风</p>
					<p><span class='salesPrice'>￥269.00</span><span class='costPriceSpan1'>￥898.00</span></p>
				</div>
				<div style='clear:both;'></div>
			</div>
		</div>
		<img src=<%= image_path('spree/frontend/line_right.png') %>>
		<div id='productDiv9'>
			<p class='titleParagraph'><span class='leftLinear'></span>TOP/人气搭配<span class='rightLinear'></span></p>
			<div class='n2'>
				<a href='#'><img alt='POPProduct1' src=<%= image_path('spree/frontend/bottomPng1.png') %>></a>
			</div>
			<div class='n2'>
				<a href='#'><img alt='POPProduct2' src=<%= image_path('spree/frontend/bottomPng2.png') %>></a>
			</div>
			<div class='n2'>
				<a href='#'><img alt='POPProduct3' src=<%= image_path('spree/frontend/bottomPng3.png') %>></a>
			</div>
		</div>
	</div>
	<div style='clear:both;'></div>